In [9]:
import sys
import os
sys.path.insert(0, os.path.abspath('..'))

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from utils import read_log

In [44]:
sandbox, activities, trades = read_log('../data/logs/11bcd6a5-498e-4a8e-bbf4-1dcc77612411.log')

In [45]:
sandbox['lambdaLog'].iloc[0]

'KELP position: 0\nKELP fair value: 2027\nBUY: 50 @ 2026\nSELL: -50 @ 2028\nRAINFOREST_RESIN position: 0\nBUY: 50 @ 9998\nSELL: -50 @ 10002'

In [48]:
sandbox['lambdaLog'].iloc[0].split('\n')

['KELP position: 0',
 'KELP fair value: 2027',
 'BUY: 50 @ 2026',
 'SELL: -50 @ 2028',
 'RAINFOREST_RESIN position: 0',
 'BUY: 50 @ 9998',
 'SELL: -50 @ 10002']

In [27]:
activities[activities['product'] == 'KELP'].head(10)

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
1,-1,0,KELP,2028,1,2026.0,2.0,2025.0,29.0,2029,31,NaN,NaN,NaN,NaN,2028.5,0.000000
2,-1,100,KELP,2025,24,NaN,NaN,NaN,NaN,2028,2,2029.0,22.0,NaN,NaN,2026.5,17.361328
5,-1,200,KELP,2025,22,NaN,NaN,NaN,NaN,2028,20,NaN,NaN,NaN,NaN,2026.5,18.537109
6,-1,300,KELP,2025,31,NaN,NaN,NaN,NaN,2028,2,2029.0,29.0,NaN,NaN,2026.5,17.210938
9,-1,400,KELP,2025,27,NaN,NaN,NaN,NaN,2028,27,NaN,NaN,NaN,NaN,2026.5,19.609375
10,-1,500,KELP,2025,30,NaN,NaN,NaN,NaN,2028,30,NaN,NaN,NaN,NaN,2026.5,23.187500
13,-1,600,KELP,2026,5,2025.0,31.0,NaN,NaN,2028,25,NaN,NaN,NaN,NaN,2027.0,26.734375
14,-1,700,KELP,2025,2,2024.0,23.0,NaN,NaN,2028,23,NaN,NaN,NaN,NaN,2026.5,32.113281
17,-1,800,KELP,2024,1,2023.0,29.0,NaN,NaN,2027,30,NaN,NaN,NaN,NaN,2025.5,41.849609
18,-1,900,KELP,2024,23,NaN,NaN,NaN,NaN,2027,23,NaN,NaN,NaN,NaN,2025.5,34.443359